@import url("base.css");


.flutua{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}

.flutua img{
    width: 100px;
    transition: 300ms;
}

.flutua img:hover{
    transform: scale(1.1);
}

header{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 30% 45%;
}

.fundo{
    background: var(--gradiente);
    width: 100%;
    height: 100%;
}

nav{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

nav a{
    color: var(--marrom-dark);
    font-size: 15px;
    font-weight: bold;
    transition: 300ms;
}

nav a:hover{
    color: var(--marrom);
    font-size: 18px;
}

.button-nav button{
    background-color: var(--marrom-dark);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: var(--branco);
    border: none;
    font-weight: bold;
    font-size: 15px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: 300ms;
}

.button-nav button:hover{
    background-color: var(--marrom);
    font-size: 16px;
}

.text-header{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-header h1{
    margin-top: 10%;
    width: 60%;
    text-align: center;
    font-size: 26px;
}

.text-header button{
    background-color: var(--marrom);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: var(--branco);
    border: none;
    font-weight: bold;
    font-size: 15px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: 300ms;
    margin-top: 20px;
}

.text-header button:hover{
    background-color: var(--marrom-dark);
    font-size: 16px;
    border: 2px solid var(--marrom);
}

.quem-sou{
    background-color: var(--marrom-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 20px 40px 20px;
    gap: 40px;
}

.img-qs{
    width: 30%;
}

.img-qs img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: 300ms;
    box-shadow: var(--shadow);
}

.img-qs img:hover{
    transform: scale(1.03);
    opacity: 70%;
}

.text-qs{
    width: 50%;
    color: var(--branco);
}

.text-qs h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.text-qs p{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.pd{
    width: 100%;
    height: 100%;
    padding: 40px 20px 40px 20px;
    background-color: var(--marrom);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    gap: 40px;
}

.text-pd{
    width: 50%;
}

.text-pd h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.text-pd p{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.img-pd{
    width: 300px;
    height: 300px;
}

.img-pd img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    transition: 300ms;
}

.img-pd img:hover{
    transform: scale(1.05);
    filter: brightness(10%);
}

.text-serviços{
    color: var(--branco);
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.serviços{
    background-color: var(--marrom-dark);
    padding: 40px 20px;
}

.container-sv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-prod{
    background-color: var(--branco);
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 200ms;
    box-shadow: var(--shadow);
}

.container-prod:hover{
    transform: scale(1.05);
}

.img-prod{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-prod img{
    height: 200px;
    object-fit: cover;
}

.duvidas{
    background-color: var(--marrom);
    padding: 40px 20px;
}

.title-duvidas{
    color: var(--branco);
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.container-duvidas{
    display: grid;
    grid-template-columns: repeat(1);
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 50px;
}

@media (min-width: 900px){
    .container-duvidas{
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}

.duvida-cont{
    border: 2px solid var(--marrom-dark);
    padding: 20px;
    border-radius: 20px;
}

.duvida-cont p{
    font-weight: 500;
}

.services{
    background-color: var(--marrom-dark);
    padding: 40px 20px;
}

.title-srv{
    color: var(--branco);
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.container-services-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.container-services{
    background-color: var(--marrom);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.container-services p{
    font-weight: 500;
}

span{
    color: var(--branco);
}

.title-service h1{
    font-size: 25px;
    color: var(--branco);
}

.preco{
    display: flex;
    margin-bottom: 30px;
}
.preco p{
    margin-top: 10px;
}

.desc p{
    margin-bottom: 20px;
}

.btn-service button{
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--branco);
    transition: 300ms;
    cursor: pointer;
}

.btn-service button:hover{
    transform: scale(1.05);
}


@media (max-width: 900px){
    .quem-sou{
        flex-direction: column;
    }

    .img-qs{
        width: 100%;
    }

    .text-qs{
        width: 100%;
    }
    

    .pd{
        flex-direction: column;
    }

    .text-pd{
        width: 100%;
    }

    .container-sv{
        flex-direction: column;
    }

    .container-prod{
        max-width: 100%;
    }

    .container-services-geral{
        flex-direction: column;
    }

    .container-services{
        width: 100%;
    }
}

@media (max-width: 530px){
    nav{
        flex-direction: column;
    }

    .quem-sou{
        padding: 20% 20px 40px 20px;
    }
}



